#interactive_map {
  height: 500px;
  pointer-events: none;

  /* height: 500px;
  width: 100%; */
}

.leaflet-control-zoom-in {
  display: none !important;
}

.leaflet-control-zoom-out {
  display: none !important;
}

.leaflet-control-attribution {
  display: none !important;
}
